@{
    ViewData["Title"] = "Home Page";
}
<div class="banner">
    <h1>Welcome to VacationManager!</h1>
    <p>
        Welcome to VacationManager, the ultimate solution for managing your company's leave policies. Our app simplifies the process of keeping track of your employees' paid leave, unpaid leave, and sick leave. By using VacationManager, you can efficiently manage your company's vacation policies, saving time and increasing productivity.
        <br />
        With VacationManager, you can streamline the leave request and approval process. Employees can easily request time off and managers can quickly approve or deny those requests. Moreover, the app provides a detailed history of each employee's leave, making it simple to identify trends and patterns in their vacation requests.
        <br />
        We have designed our app to be intuitive and user-friendly, ensuring that you can easily navigate through all of its features. Whether you are a manager or an employee, VacationManager is the perfect tool for managing your company's leave policies.
        <br /><br /><br />
        Don't wait any longer! Sign up for VacationManager today and start simplifying your company's leave policies in no time.
    </p>
</div>